// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  color: $color-text__black;

  font-family: Roboto, sans-serif;
  font-size: $font-size__text--small;
  line-height: 150%;
}

h2 {
  font-size: $font-size__text--large;
}

h3 {
  font-size: $font-size__text--regular;
}
