// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Poppins, sans-serif;
  font-size: $font-size__text--small;
}

h2 {
  font-size: $font-size__text--large;
}

h3 {
  font-size: $font-size__text--regular;
}
