// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-white--dark: #f8f8f8;
$pallete-black: #393d46;
$pallete-gold: #dcb97b;

// Цветовая палитра текста
$color-text__black: #393d46;
$color-text__white: #ffffff;
$color-text__white--dark: #b5b5b5;
$color-text__gray--light: #707070;
$color-text__gray: #9f9f9f;
